/.ICEauthority
/.bash_history
/.cache
/.config
/.dbus
/.docker
/.gnupg
/.landscape
/.local
/.motd_shown
/.pki
/.presage
/.python_history
/.sudo_as_admin_successful
/.vim
/.viminfo
/.vscode
/.vscode-server
/Desktop
/Documents
/Downloads
/Music
/Pictures
/Public
/Templates
/Videos
/.aws
/.azure